.grid-list {
  @apply flex-1 grid gap-3 m-3;
  @apply 2xl:grid-cols-7 xl:grid-cols-6 lg:grid-cols-5 md:grid-cols-4 sm:grid-cols-3 grid-cols-2;
  grid-auto-rows: 1fr;
}

.pagination {
  @apply flex flex-row justify-center bg-accent text-white text-xs;

  & li {
    @apply flex py-1 m-2;

    & svg {
      display: unset;
    }

    & a {
      @apply flex flex-1 text-center w-8 h-8 rounded-full items-center justify-center border;
      border-color: transparent;

      &:hover {
        border-color: white;
        transition: border 200ms ease-out;
      }
    }

    &.selected a {
      border-color: white;
    }
  }
}
