@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'IranSans';
  font-style: normal;
  font-weight: 400;
  src: url('/src/assets/fonts/IRANSansMobile.ttf') format('TrueType');
  font-display: swap;
}

:root {
  --color-accent: #ff661f;
}

html,
body,
#root {
  @apply h-full overflow-hidden;
  font-family: IranSans;
}
